.page-header {
  background-color: var(--hero-footer__street-color);
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--header-line);
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-navigation {
  display: flex;
  align-items: center;
}
