.logo {
  @include font(var(--logo-color));
  margin-right: 93px;
}

.logo__web {
  color: var(--accent-color);
}

.footer__logo {
  @include font(var(--hero-footer__street-color));
  display: inline-block;
  margin-bottom: 20px;
}
